@page
@using Sejlklub21.Models
@using Sejlklub21.Interfaces
@model Sejlklub21.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Members";
}

<style>
    table {
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    td:nth-child(1) {
        text-align: center;
    }

    td:last-child {
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
</style>

<h1>Members</h1>

<a asp-page="/Members/CreateMember">
    <input type="button" value="Create Member" class="btn btn-light"/>
</a>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Number
        </th>
        <th>
            Address
        </th>
        <th>

        </th>
    </tr>
    @foreach (IMember item in Model.Members)
    {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Number
        </td>
        <td>
            @item.Address
        </td>
        <td>
            <a asp-page="/Members/EditMember" asp-route-id="@item.Id">
                <input type="button" value="Edit" class="btn btn-light"/>
            </a>
            <a asp-page="/Members/DeleteMember" asp-route-id="@item.Id">
                <input type="button" value="Delete" class="btn btn-light" />
            </a>
        </td>
    </tr>
    }
</table>