@page
@model Sejlklub21.Pages.Blogs.IndexModel
@{
    ViewData["Title"] = "Blog";
}

<h1>Hillerød Sejlklubs Blog</h1>

<p>
    <a asp-page="/Blogs/CreateBlogPost">Opret Blogindlæg</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Titel
            </th>
            <th>
                Dato
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Billede
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach(var item in Model.Blogs)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Picture
                </td>
                <td>
                    <a asp-page="/Blogs/EditBlogPost" asp-route-id="@item.Id">Rediger</a>
                </td>
                <td>
                    <a asp-page="/Blogs/DeleteBlogPost" asp-route-id="@item.Id">Slet</a>
                </td>
            </tr>
        }

    </tbody>

    

</table>