@page
@model Sejlklub21.Pages.Events.CreateEventModel
@{
    ViewData["Title"] = "Create Event";
}

<h1>Create Event</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Event.Id" class="control-label"></label>
                <input asp-for="@Model.Event.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Date.TimeOfDay" class="control-label"></label>
                <input asp-for="@Model.Event.Date.TimeOfDay" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Location" class="control-label"></label>
                <input asp-for="@Model.Event.Location" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-link" />
            </div>
        </form>
    </div>
</div>