@page
@using Sejlklub21.Models
@model Sejlklub21.Pages.Events.IndexModel
@{
    ViewData["Name"] = "index";
}

<h1>Begivenheder; der er antal @Model.EventsList.Count begivenheder.</h1>
<div>
    <a asp-page="/Events/CreateEvent">Create Event</a>
</div>
<table class="table">
    
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Place
            </th>
            <th>
                DateTime
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var IEvent in Model.EventsList)
    {
        <tr>
            <td>
                @IEvent.Id
            </td>
            <td>
                @IEvent.Name
            </td>
            <td>
                @IEvent.Description
            </td>
            <td>
                @IEvent.Location
            </td>
            <td>
                @IEvent.Date
            </td>
            <td>
                <a asp-page="/Events/EditEvent" asp-route-id="@IEvent.Id">Edit</a>
            </td>
            <td>
                <a asp-page="/Events/DeleteEvent" asp-route-id="@IEvent.Id">Delete</a>
            </td>
        </tr>
    }
    
    </tbody>
</table>
