@page
@using Sejlklub21.Interfaces
@inject ILoginService loginService;
@model Sejlklub21.Pages.Logins.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<style>
    a:hover {
        text-decoration: none;
    }
</style>

<form>
    <div>
        <img src="~/Images/@Model.ImageFileName" width="128" height="128"/>
    </div>
    <div>
        <label class="control-label">Name: @Model.CurrentMember.Name</label>
    </div>
    <div>
        <label class="control-label">Email: @Model.CurrentMember.Email</label>
    </div>
    <div>
        <label class="control-label">Number: @Model.CurrentMember.Number</label>
    </div>
    <div>
        <label class="control-label">Address: @Model.CurrentMember.Address</label>
    </div>
    <div>
        <a asp-page="/Profiles/EditProfile" asp-route-id="@Model.CurrentMember.Id">
            <input type="button" value="Edit" class="btn btn-light" />
        </a>
        <a asp-page="/Logins/Logout">
            <input type="button" value="Logout" class="btn btn-light" />
        </a>
    </div>
    <div>
        <a asp-page="/Profiles/DeleteProfile" asp-route-id="@Model.CurrentMember.Id">
            <input type="button" value="Delete" class="btn btn-danger" />
        </a>
    </div>
</form>